@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #25274D;
  color: white;
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #25274D;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  color: white;
  background-color: #25274D;
}
